# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django/DRF specific
db.sqlite3
*.sqlite3
*.sqlite3-journal

# Python virtual environments
venv/
env/
ENV/

# Environment files (Sicherheitsfalle!)
.env
.env.*
*.env
local.env
config.env

# OS-specific files
.DS_Store
Thumbs.db

# Editor/IDE folders
.vscode/

# Logs, Backups, Dumps
*.bak
*.log
backup_db.sh

# Test / Coverage / Tox
.coverage
htmlcov/
.tox/
.pytest_cache/